<h1>Users</h1>

<table class="table table-sm table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Screen name</th>
      <th>Icon</th>
      <th>Email</th>
      <th>Posts count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.screen_name %></td>
        <td><%= user.icon %></td>
        <td><%= user.email %></td>
        <td><%= user.posts_count %></td>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
            <button class="btn btn-link">Edit</button>
          <% end %>
        </td>
        <td>
          <%= link_to admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <button class="btn btn-link">Delete</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
