<h1>Users</h1>

<table class="table table-sm table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Screen name</th>
      <th>Icon</th>
      <th>Email</th>
      <th>Posts count</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.screen_name %></td>
        <td><%= user.icon %></td>
        <td><%= user.email %></td>
        <td><%= user.posts_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
