<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'GROWI importer esa', root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Posts', :posts, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', :users, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Comments', admin_comments_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Attachments', admin_attachments_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= fa_icon('tasks') %></span></a>
        <div class="dropdown-menu dropdown-menu-right">
          <span class="dropdown-header">Jobs</span>
          <%= link_to api_jobs_path(name: 'import_from_esa_to_db'), method: :post,
                class: "dropdown-item", data: {confirm: 'Are you sure?'} do %>
            <%= fa_icon('download', text: 'Download from esa') %>
          <% end %>
          <%= link_to api_jobs_path(name: 'export_from_db_to_growi'), method: :post,
                class: "dropdown-item", data: {confirm: 'Are you sure?'} do %>
            <%= fa_icon('upload', text: 'Upload to GROWI') %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
