<!DOCTYPE html>
<html>
  <head>
    <title>GrowiImporterEsa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <!-- Flash message -->
    <p id="notice"><%= notice %></p>

    <!-- Each page -->
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
